<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${menu.name}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<ul>
    <li  th:each="cheese : ${cheeses}" th:text="${cheese.name}"></li>
</ul>

<p th:unless="${cheese.size()}"><i>No cheeses yet</i></p>

<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

    <nav th:fragment="navigation">
        <a href="/menu/index">Home</a> |
        <a href="/menu/add">Add</a>
    </nav>

</body>
</html>